# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data and Outputs
/outputs/
/data/
/wandb/
*.ckpt
*.safetensors
*.bin
*.pt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.uv/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
